{% extends 'default.html' %}

{% block title %}New Bill{% endblock %}

{% block css %}
	<link href="/static/css/create.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}

{% if bill %}
	<h1>{{ bill.item }}</h1>
	<h2>${{ bill.amount}}</h2>
	{% if bill.message %}<p>{{ bill.message }}</p>{% endif %}
	<date>{{ bill.due_date}}</date>
	<p>{{ bill.recipient}}</p>
	<a class="confirm-delete" href="{% url delete_bill bill.id %}">Delete this bill</a>
{% else %}

	<h1>There was a problem displaying the bill</h1>

{% endif %}

{% endblock %}