{% extends 'default.html' %}

{% block title %}New Bill{% endblock %}

{% block css %}
	<link href="/static/css/create.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<div class="main-form">

	<form action="/create/" method="post"> {% csrf_token %}
		{{ form.non_field_errors }}

		<div class="top form-row clear">
			<div class="field-wrap item">
				{{ form.item.errors }}
				<label for="id_item">Item</label>
				{{ form.item }}
			</div>

			<div class="field-wrap amount">
				{{ form.amount.errors }}
				<label for="id_amount">Amount</label>
				{{ form.amount }}
			</div>

			<div class="field-wrap due-date">
				{{ form.due_date.errors }}
				<label for="id_due_date">Due Date</label>
				{{ form.due_date }}
			</div>
		</div>

		<div class="bottom form-row clear">
			<div class="field-wrap message">
				{{ form.message.errors }}
				<label for="id_message">Message</label>
				<input id="id_message" type="text" name="message" maxlength="1000">
			</div>

			<div class="field-wrap message quickselect">
				{{ form.recipient.errors }}
				<label for="id_recipient">Recipient</label>
				{{ form.recipient }}
				{% for friend in friends %}
					<a href="#" data-user-id="{{ friend.id }}">{{ friend.username }}</a>
				{% endfor %}
			</div>
		</div>

		<input type="submit" value="Submit" />
	</form>

</div>
{% endblock %}