{% extends 'base.html' %}

{% block title %}All Bills{% endblock %}

{% block css %}
	<link href="/static/css/dashboard.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
	<table>
		<thead></thead>
		<tbody>
			{% if bill_list %}
				{% for bill in bill_list %}
					<tr>
						<td>${{ bill.amount}}</td>
						<td>
							<span>{{ bill.item }}</span>
							<p>{{ bill.message }}</p>
						</td>
						<td>{{ bill.due_date}}</td>

					</tr>
				{% endfor %}
			{% else%}
				<p>No bills</p>
			{% endif %}
		</tbody>
	</table>
{% endblock %}