{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block css %}
	<link href="/static/css/login.css" rel="stylesheet" media="screen" />
{% endblock %}



{% block content %}


<div class="login modal">

	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form method="post" action="/login/">
	{% csrf_token %}

		<div class="field-wrap">
			<input id="id_username" type="text" name="username" maxlength="100" placeholder="you@email.com" autofocus="true">
		</div>
		<div class="field-wrap">
			<input id="id_password" type="password" name="password" maxlength="100" placeholder="************" >
		</div>
	

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>

</div>

{% endblock %}