

/*  =============================    #SIDEBARS    =============================  */

.sidebar {
	width: 100px;
	padding: 20px 10px;
}





/*  =============================    #TABLE    =============================  */

.content {
	min-width: 500px;
	margin: 0 0 0 120px; /* width of sidebar plus padding  */

	padding: 40px;
}

table {
	margin: 0 auto;
}


td > p {
	font-size: 11px;
	color: #959595;

	margin-top: 4px;
	line-height: 1.3;
}