



/*  =============================    #RESET    =============================  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: thin dotted;
}

a:active {
	outline: none;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* clearfix */
.clear{
	overflow: auto;
	width: 100%;
}

/* =============================    #FONT STACK    ============================= */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #595959;
}


/*  =============================    #PAGE LAYOUT    =============================  */

body {
	background: #F2F1EF url('../images/body.gif');
}

.body { 
	padding: 0;
}

.sidebar {
	float: left;
}



/*  =============================    #HEADER    =============================  */

.header-primary {
	width: 100%;
	height: 40px;
	padding: 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #353535 black #080909;
	background-color: #3E4142;
	background-image: -webkit-linear-gradient(top, #5E6263,#3E4142);
	background-image: -moz-linear-gradient(top, #5E6263,#3E4142);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e6263', endColorstr='#ff3e4142', GradientType=0);
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.12),inset 0 1px 1px 0 rgba(255, 255, 255, 0.12);
	-moz-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.12),inset 0 1px 1px 0 rgba(255,255,255,0.12);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.12),inset 0 1px 1px 0 rgba(255, 255, 255, 0.12);
}

.header-secondary {
	padding: 13px 13px 0;
	margin: -10px -10px 0;
	background: #E5E5E5;
	background: -webkit-gradient(linear, center top, center bottom, from(#F6F6F6), to(#E5E5E5));
	background: -moz-linear-gradient(top, #F6F6F6, #E5E5E5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe5e5e5', GradientType=0);
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top: 1px solid white;
	border-bottom: 1px solid #D0D0D0;
}

/*  =============================    #FOOTER    =============================  */

footer {

}



/*  =============================    #SIDEBARS    =============================  */

.sidebar {
	position: fixed;
	height: 100%;
	background: #7E7E7E;
	display: block;
}





/*  =============================    #TABLES    =============================  */

table {
	*border-collapse: collapse;
	border-spacing: 0;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

	width: 100%;
}

th {
	-webkit-box-shadow: inset white 0 1px 0 0;
	-moz-box-shadow: inset #fff 0 1px 0 0;
	box-shadow: inset white 0 1px 0 0;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWRlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGNkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EEEDEB), color-stop(100%, #DDDCDA));
	background-image: -webkit-linear-gradient(#EEEDEB,#DDDCDA);
	background-image: -moz-linear-gradient(#EEEDEB,#DDDCDA);
	background-image: -o-linear-gradient(#EEEDEB,#DDDCDA);
	background-image: -ms-linear-gradient(#EEEDEB,#DDDCDA);
	background-image: linear-gradient(#EEEDEB,#DDDCDA);
	background-color: #DDDCDA;
	border: 1px solid #CBC9CF;
	text-shadow: white 0 1px 0;

}

th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}
th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}
th:only-child{
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

td, th {
	padding: 10px;
	border-left: 1px solid #d5d5d5;
	border-top: 1px solid #ccc;
	max-width: 400px;
}

/* outer borders */
td:first-child, th:first-child { border-left: 1px solid #ccc; }
td:last-child,  th:last-child { border-right: 1px solid #ccc; }
tr:last-child td { border-bottom: 1px solid #ccc; }

tr {
	background-color: #f6f6f6;
}

tr:nth-child(2n){
	background-color: #f3f3f3;
}

tr:hover
{
  background: #EBF2F5;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;     
} 


/*  =============================    #FORMS    =============================  */

input, textarea {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

	/* For focus styles */
	outline:none;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}

input:focus {
	box-shadow: 0 0 5px rgba(0, 0, 255, 0.75);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 0.75); 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 255, 0.75); 
}


input[type="text"], input[type="date"], input[type="datetime"], input[type="password"], 
input[type="email"], input[type="time"] {
	width: 100%%;
	height: 24px;
}

.form-row {
	display: block;
	margin-bottom: 20px;
}

.form-row > .field-wrap {
	float: left;
	padding-right: 15px;
}

.form-row > .field-wrap > * {
	display: block;
}





